/*Paleta de cores
.color1 { #4fadb9 };
.color2 { #ace4ec };
.color3 { #12888c };
.color4 { #649aa4 };
.color5 { #b4c4c4 };
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para o header */
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
  display: flex;
  justify-content:baseline-content;
  align-items: center;
  padding: 10px 20px;
  background-color: #ace4ec;
  color: #12888c;
  height: 80px;
  margin-bottom: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#h1-titulo {  
  color: #12888c;
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;

}


#slogan {
  width: 80px;
  height: 80px;
}

/* Estilos para o Formulário de cadastro */

.formulario-cadastro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #CCC;
  height: auto;
  margin: 0 4px;
  padding: 4px;
}

.formulario {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
}

.div-form{ 
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.div-form label {
  margin-left: 5px; 
  font-size: 16px;
}

.div-form input{
  padding: 3px;
}

#preco-form {
  width: 75px;
}

#estoque-form {
  width: 75px;
}

#foto-form {
  width: 300px;
}

.div-form1 {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

#img-form {
  height: 120px;
  width: 100px;
  border: 1px solid #000;
  border-radius: 10px;
  margin-bottom: 10px;
}

.div-btn-form {
  display: flex;
  flex-direction: column;
}

#btn-form {
  width: 100px;
  background-color: #649aa4;
  color: #000;
  border-radius: 8px;
  border: 1px solid #000;
  font-size: 16px;
  padding: 3px;
}

#btn-form:hover {
  background-color: #12888c;
  color: #ace4ec;
  border-color: #ace4ec;
  cursor: pointer
}

.medicamentos-listados{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b4c4c4;
}

.card img{
  padding: 5px;
  width: 200px;
}

/* Estilos para o footer */


.footer{
  background-color: rgb(42, 191, 199);
  height: 30px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
  