/*Paleta de cores
.color1 { #4fadb9 };
.color2 { #ace4ec };
.color3 { #12888c };
.color4 { #649aa4 };
.color5 { #b4c4c4 };
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para o header */
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #ace4ec;
  color: #12888c;
  height: 80px;
  margin-bottom: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

#h1-titulo {
  color: #12888c;
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
}

#slogan {
  width: 80px;
  height: 80px;
}

/* Estilos para o Formulário de cadastro */

.formulario-cadastro {
  display: flex;
  justify-content: space-btween;
  align-items: center;
  background-color: #b4c4c4;
  padding: 20px;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 80%;
  
}

.titulo-form {
 
  color: #12888c;
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center; 
  width: 100%; 
}

.formulario {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.div-form {
 
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  gap: 10px;
  align-content: flex-start;
  justify-content: space-around;
  flex-direction: row;
}
/* deixar os inputs dividido no mesmo tamanho*/
.div-form div {
  display: flex;
  flex-direction: column;
  width: calc(50% - 10px);
}

.div-form label {
  font-size: 15px;
  margin-bottom: 5px;
  color: #0e3536;
}

.div-form input {
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 10px;
}

#nome-form,
#categoria-form,
#fabricante-form,
#preco-form,
#estoque-form,
#foto-form {
  margin: 0;
  height: 25px;
  width: 100%;
}

#img-form {
  height: 150px;
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #fff;
}

.div-btn-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 150px;
  margin-right: 1px;
  padding-right: 1px;
}

.btn {
  
  background-color: #74959b;
  color: #ffffff;
  border-radius: 8px;
  border: 1px solid #598f99;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}

.btn-danger {
  background-color: #ef5056b9;
  color: #ffffff;
  border-radius: 8px;
  border: 1px solid #c61e1e;
  flex: 1;
  margin: 5px;
  padding: 10px;
  text-align: center;
  max-width: 120px;
  box-sizing: border-box;
  font-size: 16px;
}

#btn-form {
  width: 150px;
}


.btn:hover {
  background-color: #12888c;
  color: #ace4ec;
  border-color: #ace4ec;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: #f50505;
  color: #FFF;
  border-color: #c61e1e;
  cursor: pointer;
}



/* Medicamentos*/

.medicamentos-listados {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b4c4c4;
}

.card img {
  padding: 5px;
  width: 200px;
}


/*Mostar produto*/
#lista-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.produto-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  width: calc(25% - 20px); /* 4 produtos por linha */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.produto-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.produto-card h3 {
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.produto-card .btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;

}

.produto-card .btn{
  flex: 1; 
  margin: 5px; 
  padding: 10px;
  text-align: center;
  max-width: 120px;
  box-sizing: border-box;
}

.label {
  font-weight: bold;
}
/* Estilos para o footer */

.footer {
  background-color: #4fadb9;
  padding: 10px 0;
  color: white;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 10px;
}

.footer-section {
  width: 30%;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section p {
  line-height: 1.6;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: white;
  margin-right: 10px;
  font-size: 25px;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
  padding-top: 10px;
  border-top: 1px solid #ace4ec;
}

.footer a:hover {
  color: #ace4ec;
}

/*RESPONSIVIDADE*/

/*Header*/

@media (max-width: 1024px) {
  #h1-titulo {
    font-size: 24px;
    margin-left: 10px;
  }

  #slogan {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 15px;
    align-items: center;
  }

  #h1-titulo {
    font-size: 20px;
    margin-left: 0;
    text-align: center;
  }

  #slogan {
    width: 50px;
    height: 50px;
  }
}

/*Responsividade do formulário*/
@media (max-width: 768px) {
  .div-form div {
    width: 100%;
  }

  .div-btn-form {
    width: 100%;
    align-items: center;
  }
}
/* Responsividade do listar produtos*/

@media (max-width: 780px) {
  .produto-card {
      width: calc(50% - 20px); /* 2 produtos por linha em telas menores */
  }
}

@media (max-width: 480px) {
  .produto-card {
      width: 100%; /* 1 produto por linha em telas pequenas */
  }
}

/* Responsividade do footer*/

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .social-icons a {
    font-size: 24px;
  }
}


