/*Paleta de cores
.color1 { #4fadb9 };
.color2 { #ace4ec };
.color3 { #12888c };
.color4 { #649aa4 };
.color5 { #b4c4c4 };
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 20px;
  margin-bottom: 1rem;
}

.header {
  background-color: #fff;
  color: #12888c;
  height: 80px;
}

#slogan {
  width: 40px;
  height: 40px;
}

.medicamentos-listados{
  display: flex;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b4c4c4;
}

.card img{
  width: 200px;
}

.footer{
  background-color: rgb(42, 191, 199);
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
}